body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.projectcard{
  width: 18rem;
  background-color:rgb(132, 132, 230);
  box-shadow: 5px 10px #888888;
}

.portfoliocontainer{
  display: flex;
  float: left;
}

.contact{
  clear: both;
}

.info{
  width: 400px;
  height: 400px;
}

.navbar{
  position: fixed;
  top:0;
  z-index: 1;
  background-color: rgb(250, 225, 229);
  width: 100%;
}

.footer{
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: rgb(250, 225, 229);
}

#cont{
  margin-bottom: 25%;
  margin-left: 25%;
}